<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--<context:annotation-config></context:annotation-config>--><!-- 此行可以省略 -->
    <!-- 既开启了注解，也开启了扫描 -->
    <context:component-scan base-package="com"></context:component-scan>
    <bean id="dao" class="com.chenss.dao.IndexDaoImpl" depends-on="daoImpl1"></bean>
    <bean id="daoImpl1" class="com.chenss.dao.IndexDaoImpl1"></bean>
</beans>